@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1640px;
  padding: 0 20px;
}

.hero-title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #323264;
}

.title-h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #323264;
}

.title-h3-caps {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #323264;
}

.main-txt {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
}

.header {
  padding: 50px 0 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header--light {
  background-color: #fff;
}
.header--light .header__logo {
  background-color: red;
}
.header--light .header__info {
  background-color: red;
}
.header__logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.header__info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.header__info__lang {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__info__lang__item {
  padding: 5px 7px;
  text-decoration: none;
  color: #fff;
}
.header__info__lang__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header__info__lang__item:active {
  background-color: #F0145A;
  border-radius: 8px;
}
.header__info__address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
}
.header__info__tel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #fff;
}
.header__info > *:after {
  content: "";
  display: inline-block;
  background-color: #E6E6F0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.header__info :last-child:after {
  display: none;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.header__navigation__item {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #fff;
}
.header__navigation__item:hover {
  text-decoration: underline;
}
.header__navigation__item:active {
  text-decoration: underline;
  color: #F0145A;
}

.main-section {
  padding-bottom: 30px;
  min-height: 800px;
  background-color: #323264;
  position: relative;
  z-index: 1;
}
.main-section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
}
.main-section__hero-symbol {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.main-section__scroll {
  position: absolute;
  right: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
.main-section__scroll__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.main-section__scroll__circle__arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
}

.adv-section {
  padding: 75px 0 30px;
  background-color: #323264;
}
.adv-section__container {
  max-width: 1080px;
}
.adv-section__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adv-section__wrap__titles {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
.adv-section__wrap__titles__link {
  color: #B3B3BA;
}
.adv-section__wrap__titles__link:first-child {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.adv-section__wrap__content {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 585px;
}
.adv-section__wrap__content__title {
  padding-bottom: 30px;
  color: #fff;
}
.adv-section__wrap__content__txt {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.services {
  padding: 30px 0 60px;
  background-color: #323264;
}
.services__category {
  padding-bottom: 10px;
  color: #24A3FF;
}
.services__category:after {
  content: "";
  border: solid #24A3FF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 5px;
  padding: 3px;
  transform: rotate(-45deg);
}
.services__title {
  margin-bottom: 60px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 60px;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
}
.services__item__img {
  margin-bottom: 30px;
}
.services__item__title {
  margin-bottom: 15px;
  color: #24A3FF;
}
.services__item__txt {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
