@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

textarea, input {
  font-family: inherit;
  outline: none;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1640px;
  padding: 0 20px;
}
@media screen and (max-width: 1650px) {
  .container {
    max-width: 1360px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1224px) {
  .container {
    max-width: 944px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 968px) {
  .container {
    max-width: 688px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.gradient-wrap {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
}

body.full-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.full-height .footer {
  margin-top: auto;
}

.hero-title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}
@media screen and (max-width: 575px) {
  .hero-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #323264;
}

.title-h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #323264;
}

.title-h3-caps {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #24A3FF;
}

.main-txt {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
}

.category {
  margin-bottom: 20px;
  color: #24A3FF;
  transition: 0.1s ease-in;
}
.category:after {
  content: "";
  border: solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 5px;
  padding: 3px;
  transform: rotate(-45deg);
  transition: 0.1s ease-in;
}
.category:hover:after {
  content: "";
  border: solid #F0145A;
  border-width: 0 3px 3px 0;
}
.category:hover {
  color: #F0145A;
}
.category:active {
  color: #F0145A;
}

.header {
  padding: 50px 0 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.header--light {
  gap: 10px;
}
.header--light .header__burger-menu {
  display: none;
}
.header--light .header__burger-menu svg {
  background-color: transparent;
  stroke: #323264;
}
.header--light .header__burger-menu:active {
  border-radius: 8px;
  background-color: #E6E6F0;
}
.header--light .header__info__lang__item {
  color: #B3B3BA;
}
.header--light .header__info__lang__item:hover {
  background-color: #F5F5FA;
}
.header--light .header__info__lang__item:active {
  color: #ffffff;
  background-color: #F0145A;
}
.header--light .header__info__lang__item.active {
  color: #ffffff;
  background-color: #F0145A;
}
.header--light .header__info__address {
  color: #B3B3BA;
}
.header--light .header__info__tel {
  color: #B3B3BA;
}
.header--light .header__info__social-icon svg {
  fill: #B3B3BA;
  transition: 0.1s ease-in;
}
.header--light .header__info__social-icon .header:hover svg {
  fill: #F0145A;
}
.header--light .header__info__social-icon .header:active svg {
  fill: #F0145A;
}
.header--light .header__navigation__item {
  color: #24A3FF;
}
.header--light .header__navigation__item:hover {
  color: #F0145A;
}
.header--light .header__navigation__item:before {
  background-color: #F0145A;
}
.header__logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media screen and (max-width: 968px) {
  .header__logo {
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media screen and (max-width: 575px) {
  .header__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.header__burger-menu {
  display: none;
}
.header__info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.header__info__lang {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__info__lang__item {
  padding: 5px 7px;
  text-decoration: none;
  color: #fff;
  transition: 0.1s ease-in;
}
.header__info__lang__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header__info__lang__item:active {
  background-color: #F0145A;
}
.header__info__lang__item.active {
  background-color: #F0145A;
  border-radius: 8px;
}
.header__info__address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
}
.header__info__tel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #fff;
}
.header__info__social-icon svg {
  fill: #fff;
  transition: 0.1s ease-in;
}
.header__info__social-icon:hover svg {
  fill: #F0145A;
}
.header__info__social-icon:active svg {
  fill: #F0145A;
}
.header__info > *:after {
  content: "";
  display: inline-block;
  background-color: #E6E6F0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.header__info :last-child:after {
  display: none;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.header__navigation__item {
  position: relative;
  padding: 16px 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #fff;
  transition: 0.4s ease-out;
}
.header__navigation__item:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: right top;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}
.header__navigation__item:hover, .header__navigation__item:hover:before {
  transform-origin: left top;
  transform: scaleX(1);
}
.header__navigation__item.active {
  color: #F0145A;
}
.header__navigation__item.active:before {
  background-color: #F0145A;
  transform-origin: left top;
  transform: scaleX(1);
}
.header__navigation__item:active:before {
  background-color: #F0145A;
  transform-origin: left top;
  transform: scaleX(1);
}
.header__navigation__item:active {
  color: #F0145A;
}

@media screen and (max-width: 1224px) {
  .header {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__info {
    gap: 6px;
  }
  .header__info__address {
    gap: 6px;
  }
  .header__info__tel {
    gap: 6px;
  }
}
@media screen and (max-width: 968px) {
  .header__logo {
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .header__info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: flex-start;
  }
  .header__navigation {
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media screen and (max-width: 575px) {
  .header {
    padding: 0 0 20px;
    gap: 0;
  }
  .header--light .header__info {
    background-color: #F5F5FA;
  }
  .header__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 165px;
  }
  .header__burger-menu {
    display: flex;
    align-items: center;
  }
  .header__burger-menu svg {
    background-color: transparent;
    stroke: #323264;
  }
  .header__burger-menu:active {
    border-radius: 8px;
    background-color: #E6E6F0;
  }
  .header__info {
    padding: 12px 15px;
    margin: 0 -20px 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(245, 245, 250, 0.2);
  }
  .header__info__address {
    display: none;
  }
  .header__info__social-icon {
    display: none;
  }
  .header__info > *:after {
    display: none;
  }
  .header__info :last-child:after {
    display: none;
  }
  .header__navigation {
    display: none;
  }
}
.footer {
  padding: 30px 0 30px;
  background-color: #F5F5FA;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.footer__wrap__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__wrap__info > *:after {
  content: "";
  display: inline-block;
  background-color: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.footer__wrap__info :last-child:after {
  display: none;
}
.footer__wrap__info__address, .footer__wrap__info__link, .footer__wrap__info__legal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__wrap__info__link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #24A3FF;
  transition: 0.1s ease-in;
}
.footer__wrap__info__link:hover {
  color: #F0145A;
}
.footer__wrap__info__link:active {
  color: #F0145A;
}
.footer__wrap__info__legal {
  font-weight: 400;
  color: #B3B3BA;
}
.footer__wrap__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__wrap__contacts > *:after {
  content: "";
  display: inline-block;
  background-color: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.footer__wrap__contacts :last-child:after {
  display: none;
}
.footer__wrap__contacts__social-icon, .footer__wrap__contacts__tel, .footer__wrap__contacts__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__wrap__contacts__social-icon svg {
  fill: #24A3FF;
  transition: 0.1s ease-in;
}
.footer__wrap__contacts__social-icon:hover svg {
  fill: #F0145A;
}
.footer__wrap__contacts__social-icon:active svg {
  fill: #F0145A;
}
.footer__wrap__contacts__tel {
  color: #46466E;
}
.footer__wrap__contacts__email {
  transition: 0.1s ease-in;
}
.footer__wrap__contacts__email:hover {
  color: #F0145A;
}
.footer__wrap__contacts__email:active {
  color: #F0145A;
}

@media screen and (max-width: 575px) {
  .footer {
    background-color: #F5F5FA;
    padding: 0;
  }
  .footer__wrap {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 2px solid #E6E6F0;
  }
  .footer__wrap__info {
    flex-direction: column;
    gap: 10px;
  }
  .footer__wrap__info > *:after {
    display: none;
  }
  .footer__wrap__info :last-child:after {
    display: none;
  }
  .footer__wrap__info__legal {
    display: none;
  }
  .footer__wrap__contacts {
    flex-direction: column;
    gap: 10px;
  }
  .footer__wrap__contacts > *:after {
    display: none;
  }
}
.blog-entry {
  padding: 60px 0 60px;
}
.blog-entry__container {
  max-width: 1360px;
}
.blog-entry__hero-img {
  margin-bottom: 30px;
  min-height: 500px;
  border-radius: 12px;
}
.blog-entry__hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-entry__title {
  margin-bottom: 15px;
}
.blog-entry__date {
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  border-bottom: 4px solid #E6E6F0;
}
.blog-entry__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}
.blog-entry__hero-title {
  margin-bottom: 30px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blog-entry__subtitle {
  margin-bottom: 15px;
}
.blog-entry__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 15px;
  list-style-position: inside;
}
.blog-entry__list li::marker {
  font-weight: 700;
  color: #F0145A;
}
.blog-entry__img {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.blog-entry__img__asign {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #B3B3BA;
}
.blog-entry__social {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-top: 4px solid #E6E6F0;
}
.blog-entry__social__item {
  padding: 9px;
  border-radius: 12px;
  background-color: #F5F5FA;
}

@media screen and (max-width: 1650px) {
  .blog-hero__container {
    max-width: 1120px;
  }
}
@media screen and (max-width: 1224px) {
  .blog-hero__container {
    max-width: 944px;
  }
}
@media screen and (max-width: 968px) {
  .blog-hero__container {
    max-width: 688px;
  }
}
@media screen and (max-width: 575px) {
  .blog-hero {
    padding: 40px 0 60px;
  }
  .blog-hero__container {
    max-width: 100%;
  }
}
.blog {
  padding: 30px 0 30px;
  background-color: #F5F5FA;
}
.blog__title {
  margin-bottom: 30px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blog__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 30px;
}
.blog__wrap__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-content: stretch;
  align-self: flex-start;
  border-radius: 8px;
  background-color: #fff;
  height: 100%;
}
.blog__wrap__item__img {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  width: 100%;
}
.blog__wrap__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__wrap__item__cont {
  padding: 30px;
}
.blog__wrap__item__cont__title {
  margin-bottom: 15px;
}
.blog__wrap__item__cont__title:hover {
  color: #F0145A;
}
.blog__wrap__item__cont__date {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.blog__wrap__item__cont__txt {
  padding-top: 15px;
  border-top: 4px solid #E6E6F0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
}

@media screen and (max-width: 968px) {
  .blog {
    padding: 30px 0 30px;
    background-color: #F5F5FA;
  }
  .blog__wrap {
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  }
  .blog__wrap__item:last-child {
    grid-column: span 2;
  }
  .blog__wrap__img {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .blog__wrap {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .blog__wrap__item:last-child {
    grid-column: span 1;
  }
}

/*# sourceMappingURL=main.css.map */
