@use '../modules';

.header {
  $self: &;
  padding: 50px 0 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &--light {
    background-color: #fff;
    #{ $self }__logo {
      background-color: red;
    }
    #{ $self }__info {
      background-color: red;
    }

  }

  &__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    //float: left;
  }

  &__info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    &__lang {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      letter-spacing: 1px;


      &__item {
        padding: 5px 7px;
        text-decoration: none;
        color: #fff;
        transition: 0.1s ease-in;

        &:hover {
          background-color: rgba(255, 255, 255, .2);
          border-radius: 8px;
        }

        &:active {
          background-color: modules.$accent-color;
        }

        &.active {
          background-color: modules.$accent-color;
          border-radius: 8px;
        }
      }
    }

    &__address {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: #fff;
    }

    &__tel {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      color: #fff;
    }

    &__social-icon {
      svg {
        fill: #fff;
        transition: 0.1s ease-in;
      }

      &:hover {
        svg {
          fill: modules.$accent-color;
        }
      }

      &:active {
        svg {
          fill: modules.$accent-color;
        }
      }
    }
  }

  &__info > *:after {
    content: '';
    display: inline-block;
    background-color: modules.$bg-color-separator;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &__info :last-child:after {
    display: none;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    &__item {
      position: relative;
      padding: 16px 0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      color: #fff;
      transition: 0.4s ease-out;

      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transform-origin: right top;
        transform: scaleX(0);
        transition: transform 0.2s ease-out;
      }

      &:hover {
        &, &:before {
          transform-origin: left top;
          transform: scaleX(1);
        }
      }

      &.active {
        &:before {
          background-color: modules.$accent-color;
          transform-origin: left top;
          transform: scaleX(1);
        }
      }

      &:active {
        &:before {
          background-color: modules.$accent-color;
          transform-origin: left top;
          transform: scaleX(1);
        }
      }

      &:active {
        color: modules.$accent-color;
      }
    }

  }
}