@use '../modules';

.header {
  $light: &;
  padding: 50px 0 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  &--light {
    gap: 10px;

    #{ $light }__logo {}

    #{ $light }__burger-menu {
      display: none;
      svg {
        background-color: transparent;
        stroke: modules.$main-color;
      }

      &:active {
        border-radius: 8px;
        background-color: modules.$bg-color-separator;
      }
    }

    #{ $light }__info {

      &__lang {

        &__item {
          color: modules.$bg-color-text;

          &:hover {
            background-color: modules.$bg-color;
          }
          &:active {
            color: #ffffff;
            background-color: modules.$accent-color;
          }
          &.active {
            color: #ffffff;
            background-color: modules.$accent-color;
          }
        }
      }

      &__address {
        color: modules.$bg-color-text;
      }

      &__tel {
        color: modules.$bg-color-text;
      }

      &__social-icon {
        svg {
          fill: modules.$bg-color-text;
          transition: 0.1s ease-in;
        }

        #{ $light }:hover {
          svg {
            fill: modules.$accent-color;
          }
        }

        #{ $light }:active {
          svg {
            fill: modules.$accent-color;
          }
        }
      }
    }

    #{ $light }__navigation {

      &__item {
        color: modules.$active-color;

        &:hover {
          color: modules.$accent-color;
        }

        &:before {
          background-color: modules.$accent-color;
        }
      }
    }
  }

  &__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    @media screen and (max-width: 968px) {
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media screen and (max-width: 575px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

  }

  &__burger-menu {
    display: none;
  }

  &__info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    &__lang {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      letter-spacing: 1px;


      &__item {
        padding: 5px 7px;
        text-decoration: none;
        color: #fff;
        transition: 0.1s ease-in;

        &:hover {
          background-color: rgba(255, 255, 255, .2);
          border-radius: 8px;
        }

        &:active {
          background-color: modules.$accent-color;
        }

        &.active {
          background-color: modules.$accent-color;
          border-radius: 8px;
        }
      }
    }

    &__address {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: #fff;
    }

    &__tel {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      color: #fff;
    }

    &__social-icon {
      svg {
        fill: #fff;
        transition: 0.1s ease-in;
      }

      &:hover {
        svg {
          fill: modules.$accent-color;
        }
      }

      &:active {
        svg {
          fill: modules.$accent-color;
        }
      }
    }
  }

  &__info > *:after {
    content: '';
    display: inline-block;
    background-color: modules.$bg-color-separator;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &__info :last-child:after {
    display: none;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    &__item {
      position: relative;
      padding: 16px 0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      color: #fff;
      transition: 0.4s ease-out;

      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transform-origin: right top;
        transform: scaleX(0);
        transition: transform 0.2s ease-out;
      }

      &:hover {
        &, &:before {
          transform-origin: left top;
          transform: scaleX(1);
        }
      }

      &.active {
        color: modules.$accent-color;
        &:before {
          background-color: modules.$accent-color;
          transform-origin: left top;
          transform: scaleX(1);
        }
      }

      &:active {
        &:before {
          background-color: modules.$accent-color;
          transform-origin: left top;
          transform: scaleX(1);
        }
      }

      &:active {
        color: modules.$accent-color;
      }
    }

  }
}

@media screen and (max-width: 1224px) {
  .header {
    grid-template-columns: repeat(1, 1fr);

    &__info {
      gap: 6px;

      &__address {
        gap: 6px;
      }

      &__tel {
        gap: 6px;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .header {

    &__logo {
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__info {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-content: flex-start;
    }

    &__navigation {
      justify-content: flex-start;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}

@media screen and (max-width: 575px) {
  .header {
    $light: &;
    padding: 0 0 20px;
    gap: 0;

    &--light {

      #{ $light }__info {
        background-color: modules.$bg-color;
      }
    }

    &__logo {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      max-width: 165px;
    }

    &__burger-menu {
      display: flex;
      align-items: center;
      svg {
        background-color: transparent;
        stroke: modules.$main-color;
      }

      &:active {
        border-radius: 8px;
        background-color: modules.$bg-color-separator;
      }
    }

    &__info {
      padding: 12px 15px;
      margin: 0 -20px 15px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background-color: rgba(245, 245, 250, 0.2);

      &__address {
        display: none;
      }

      &__social-icon {
       display: none;
      }
    }

    &__info > *:after {
      display: none;
    }

    &__info :last-child:after {
      display: none;
    }

    &__navigation {
      display: none;
        }
      }
    }
