@use '../../modules';

.adv-section {
  padding: 75px 0 30px;

  &__container {
    max-width: 1080px;
  }

  &__wrap {
    @include modules.flex;

    &__titles {
      padding-right: 60px;
      @include modules.flex-clmn;
      gap: 30px;
      border-right: 4px solid rgba(255, 255, 255, 0.3);

      &__link {
        color: modules.$bg-color-text;
        transition: 0.1s ease-in;
        flex-shrink: 0;

        &:hover {
          color: modules.$accent-color;
        }

        &:active {
          background: modules.$gradient-redtxt;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &__link:first-child {
        background: modules.$gradient-redtxt;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__content {
      padding-left: 60px;
      @include modules.flex-clmn;
      max-width: 585px;

      &__title {
        padding-bottom: 30px;
        color: #fff;
      }

      &__txt {
        font-size: 19px;
        line-height: 30px;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1224px) {
  .adv-section {

    &__container {
      max-width: 944px;
      padding: 0 20px;
    }

    &__wrap {

      &__content {
        max-width: 465px;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .adv-section {

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__titles {
        max-width: 648px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding-bottom: 60px;
        border-right: none;
        border-bottom: 4px solid rgba(255, 255, 255, 0.3);
        overflow: scroll;
      }

      &__content {
        padding-left: 0;
        padding-top: 60px;
        @include modules.flex-clmn;
        max-width: 648px;
      }
    }
  }
}

@media screen and (max-width: 575px) {

  .adv-section {

    &__wrap {

      &__titles {
        max-width: 100%;
        padding-bottom: 30px;
      }

      &__content {
        padding-top: 30px;

        &__title {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}