@use '../../modules';

.main-section {
  padding-bottom: 30px;
  min-height: 800px;
  background-color: modules.$main-color;
  position: relative;
  z-index: 1;

  &__title {
    @include modules.absolute-center;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  &__hero-symbol {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__scroll {
    $scroll: &;
    position: absolute;
    right: 50%;
    bottom: 5%;
    transform: translateX(-50%);

    &:hover {
      #{ $scroll }__circle, #{ $scroll }__circle__arrow {
        border-color: modules.$accent-color;
        transition: 0.1s ease-in;
      }
    }

    &:active {
      #{ $scroll }__circle, #{ $scroll }__circle__arrow {
        border-color: modules.$accent-color;
        transition: 0.1s ease-in;
      }
    }


    &__circle {
      @include modules.flex;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid #fff;


      &__arrow {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(45deg);
      }
    }
  }
}

