@use '../../modules';

.partners {
  padding: 30px 0 60px;

  @media screen and (max-width: 1650px) {
    padding: 30px 0 0;
  }


  &__container {
    display: block;
    margin: 0 auto;
    max-width: 1760px;
    padding: 0 20px;

    @media screen and (max-width: 1650px) {
      max-width: 100%;
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

    @media screen and (max-width: 968px) {
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
}

@media screen and (max-width: 1650px) {

  .partners {
    padding: 30px 0 0;

    &__container {
      max-width: 100%;
      padding: 0;
    }
  }
}

@media screen and (max-width: 968px) {
  .partners {

    &__wrap {
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }
  }
}

@media screen and (max-width: 575px) {
  .partners {

    &__wrap {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
}

