@use '../../modules';

.partners {
  padding: 30px 0 60px;

  &__container {
    display: block;
    margin: 0 auto;
    max-width: 1760px;
    padding: 0 20px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  }

}