@use '../../modules';

.services {
  padding: 30px 0 60px;

  &__title {
    margin-bottom: 60px;
    background: modules.$gradient-redtxt;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 575px) {
      margin-bottom: 30px;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 60px;

    @media screen and (max-width: 1224px) {
      grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  &__item {
    @include modules.flex-clmn;
    align-self: flex-start;

    &__img {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 15px;
      color: modules.$active-color;
    }

    &__txt {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1224px) {

  .services {

    &__wrap {
      grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
    }
  }
}

@media screen and (max-width: 575px) {

  .services {

    &__title {
      margin-bottom: 30px;
    }

    &__wrap {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
}