@use '../../modules';

.team {
  padding: 60px 0 50px;

  &__wrap{
    margin-bottom: 30px;
    display: flex;
    border-radius: 12px;
    background-color: modules.$bg-color;
    overflow: hidden;

    &__img {
      border-radius: 12px 0 0 12px;
      max-height: 298px;
      width: 400px;
      flex-shrink: 0;
      display: inline-flex;

      img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      padding: 30px;
      max-width: 1200px;

      &__category {
        margin-bottom: 5px;
      }

      &__title {
        margin-bottom: 30px;
        background: modules.$gradient-redtxt;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }

      &__name {
        margin-bottom: 6px;
        color: modules.$bg-color-text;
      }

      &__position {
        color: modules.$bg-color-text;
      }
    }
  }

  &__slider-icon {
    margin: 0 auto;
    @include modules.flex;
    gap: 15px;

    &__item {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: modules.$active-color;
      opacity: 0.2;

      &:hover, &:active, &.active {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1650px) {

  .team {

    &__wrap{

      &__img {
        max-height: 344px;
      }
    }
  }
}

@media screen and (max-width: 1224px) {

  .team {

    &__wrap{

      &__img {
        max-height: 528px;
      }
    }
  }
}

@media screen and (max-width: 968px) {

  .team {

    &__wrap {
      flex-direction: column;

      &__img {
        max-height: 500px;
        width: 100%;

        img {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {

  .team {
    padding: 60px 0 20px;

    &__wrap{

      &__img {
        height: 500px;
        width: 100%;

        img {
          height: 100%;
        }
      }
    }
  }
}

